@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #3b8bb1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: relative;
  background-color: #0d5475;
  color: #FFF;
  height: 50vh;
  font-family: 'Paytone One', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 7rem;
  width: max-content;
  margin: 0 auto;
  position: relative;
}

.star {
  position: absolute;
  margin: 0;
}

.star1 {
  top: 5%;
  left: 9%;
}

.star2 {
  top: 28%;
  right: 22%;
}

.star3 {
  bottom: 25%;
  left: 49%;
}

.sub {
  display: block;
  font-size: 1.6rem;
  text-align: right;
}

.ship {
  font-size: 7rem;
  position: absolute;
  right: -4.5rem;
  bottom: -3.5rem;
}

form {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  margin-left: .5rem;
}

li {
  list-style: none;
}

.queryGrid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-auto-rows: 50rem; 
  gap: 2rem 1rem; 
  padding: 0;
  height: 100%; 
}

.elementGrid {
  background-color: #86c7e6;
  padding: 1rem;
  border-radius: 10px;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1rem;
  width: 100%; 
  height: 100%; 
}

.imageContainer {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  position: relative;
}

.like {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.desc {
  overflow-y: scroll;
  border: 2px dashed blanchedalmond;
  border-radius: 1rem;
  padding: 1rem;
}

.title {
  font-weight: bold;
  margin: 0;
}

.date {
  margin: 0rem;
}

.desc508 {
  margin: 0;
  padding: 1rem 0;
}

.sharableLink {
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  overflow-x: scroll;
}

.linkText {
  position: relative;
  z-index: 1;
}

.linkIcon {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  opacity: 0.5;
}

.sharableLink p {
  margin: 0;
}

footer {
  text-align: center;
  background-color: #0d5475;
  padding: .5rem;
}

footer a {
  color: #FFF;
}

footer p {
  margin: 0;
}

.loading, .noResults {
  text-align: center;
  height: 50vh;
}

@media (max-width: 950px) {
  .queryGrid {
    grid-template-columns: 1fr 1fr; 
  }

  h1 {
    font-size: 4rem;
  }

  .ship {
    font-size: 5rem;
    right: -2.8rem;
    bottom: -2.5rem;
  }
}

@media (max-width: 450px) {
  .queryGrid {
    grid-template-columns: 1fr; 
  }

  h1 {
    font-size: 3rem;
  }
}